<button *ngIf="isViewMode()" (click)="onEnterCreateMode()">Create</button>
<div *ngIf="!isViewMode()">
  <form [formGroup]="storyForm">
    <label for="title">Title: </label>
    <input id="title" type="text" formControlName="title" />

    <label for="description">Description: </label>
    <input id="description" type="text" formControlName="description" />

    <label for="assignedDeveloperId">Assigned Developer: </label>
    <select id="assignedDeveloperId" formControlName="assignedDeveloperId">
      <option *ngFor="let developer of developers" [ngValue]="developer.id">
        {{ developer.name }}
      </option>
    </select>

    <label for="estimation">Estimation: </label>
    <input id="estimation" type="number" formControlName="estimation" />

    <label for="status" *ngIf="!isCreateMode()">Status: </label>
    <select id="status" *ngIf="!isCreateMode()" formControlName="status">
      <option [ngValue]="'NEW'">NEW</option>
      <option [ngValue]="'ESTIMATED'">ESTIMATED</option>
      <option [ngValue]="'COMPLETED'">COMPLETED</option>
    </select>
  </form>
  <button (click)="onSave()">{{ isCreateMode() ? "Create" : "Update" }}</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Assiged Developer</th>
      <th scope="col">Estimation</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let story of stories">
      <td>{{ story.id }}</td>
      <td>{{ story.title }}</td>
      <td>{{ story.description }}</td>
      <td>
        {{
          story.assignedDeveloper ? story.assignedDeveloper.name : "Unassigned"
        }}
      </td>
      <td>{{ story.estimation }}</td>
      <td>{{ story.status }}</td>
      <td><button (click)="onEnterUpdateMode(story)">Edit</button></td>
      <td><button (click)="onDelete(story.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
