<button *ngIf="isViewMode()" (click)="onEnterCreateMode()">Create</button>
<div *ngIf="!isViewMode()">
  <form [formGroup]="bugForm">
    <label for="title">Title: </label>
    <input id="title" type="text" formControlName="title" />

    <label for="description">Description: </label>
    <input id="description" type="text" formControlName="description" />

    <label for="assignedDeveloperId">Assigned Developer: </label>
    <select id="assignedDeveloperId" formControlName="assignedDeveloperId">
      <option *ngFor="let developer of developers" [ngValue]="developer.id">
        {{ developer.name }}
      </option>
    </select>

    <label for="priority">Priority: </label>
    <select id="priority" formControlName="priority">
      <option [ngValue]="'CRITICAL'">CRITICAL</option>
      <option [ngValue]="'MAJOR'">MAJOR</option>
      <option [ngValue]="'MINOR'">MINOR</option>
    </select>

    <label for="status" *ngIf="!isCreateMode()">Status: </label>
    <select id="status" *ngIf="!isCreateMode()" formControlName="status">
      <option [ngValue]="'NEW'">NEW</option>
      <option [ngValue]="'VERIFIED'">VERIFIED</option>
      <option [ngValue]="'RESOLVED'">RESOLVED</option>
    </select>
  </form>
  <button [disabled]="!saveBtnEnabled()" (click)="onSave()">
    {{ isCreateMode() ? "Create" : "Update" }}
  </button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Assigned Developer</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bug of bugs">
      <td>{{ bug.id }}</td>
      <td>{{ bug.title }}</td>
      <td>{{ bug.description }}</td>
      <td>
        {{ bug.assignedDeveloper ? bug.assignedDeveloper.name : "Unassigned" }}
      </td>
      <td>{{ bug.priority }}</td>
      <td>{{ bug.status }}</td>
      <td><button (click)="onEnterUpdateMode(bug)">Edit</button></td>
      <td><button (click)="onDelete(bug.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
