<h3 class="mb-3">Bug</h3>
<button
  *ngIf="isViewMode()"
  (click)="onEnterCreateMode()"
  class="btn btn-primary"
>
  Add New Bug
</button>
<div *ngIf="!isViewMode()">
  <form [formGroup]="bugForm" class="row">
    <div class="col-md-4">
      <label for="title">Title: </label>
      <input
        id="title"
        type="text"
        formControlName="title"
        class="form-control"
      />
    </div>

    <div class="col-md-5">
      <label for="description">Description: </label>
      <input
        id="description"
        type="text"
        formControlName="description"
        class="form-control"
      />
    </div>

    <div class="col-md-3">
      <label for="assignedDeveloperId">Assigned Developer: </label>
      <select
        id="assignedDeveloperId"
        formControlName="assignedDeveloperId"
        class="form-control"
      >
        <option *ngFor="let developer of developers" [ngValue]="developer.id">
          {{ developer.name }}
        </option>
      </select>
    </div>

    <div class="col-md-2">
      <label for="priority">Priority: </label>
      <select id="priority" formControlName="priority" class="form-control">
        <option [ngValue]="'CRITICAL'">CRITICAL</option>
        <option [ngValue]="'MAJOR'">MAJOR</option>
        <option [ngValue]="'MINOR'">MINOR</option>
      </select>
    </div>

    <div class="col-md-2" *ngIf="!isCreateMode()">
      <label for="status">Status: </label>
      <select id="status" formControlName="status" class="form-control">
        <option [ngValue]="'NEW'">NEW</option>
        <option [ngValue]="'VERIFIED'">VERIFIED</option>
        <option [ngValue]="'RESOLVED'">RESOLVED</option>
      </select>
    </div>

    <div class="col-md-4">
      <button
        [disabled]="!saveBtnEnabled()"
        (click)="onSave()"
        class="btn btn-primary save-btn-mt"
      >
        {{ isCreateMode() ? "Create" : "Update" }}
      </button>
    </div>
  </form>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Assigned Developer</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bug of bugs">
      <td>{{ bug.id }}</td>
      <td>{{ bug.title }}</td>
      <td>{{ bug.description }}</td>
      <td>
        {{ bug.assignedDeveloper ? bug.assignedDeveloper.name : "Unassigned" }}
      </td>
      <td>{{ bug.priority }}</td>
      <td>{{ bug.status }}</td>
      <td>
        <button (click)="onEnterUpdateMode(bug)" class="btn btn-sm btn-info">
          <fa-icon [icon]="faEdit" class="icon-mr"></fa-icon>Edit
        </button>
      </td>
      <td>
        <button (click)="onDelete(bug.id)" class="btn btn-sm btn-danger">
          <fa-icon [icon]="faTrash" class="icon-mr"></fa-icon>Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
