<div>
  <input type="text" [formControl]="developerName" />
  <button (click)="onSave()">Save</button>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let developer of developers">
        <td>{{ developer.id }}</td>
        <td>{{ developer.name }}</td>
        <td><button (click)="onDelete(developer.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
