<h3 class="mb-3">Developers</h3>
<button
  *ngIf="isViewMode()"
  (click)="onEnterCreateMode()"
  class="btn btn-primary"
>
  Add New Developer
</button>
<div *ngIf="!isViewMode()" class="row">
  <div class="col-md-4">
    <label for="developerName">Name: </label>
    <input
      id="developerName"
      type="text"
      [formControl]="developerName"
      class="form-control"
    />
  </div>
  <div class="col-md-4 save-btn-mt">
    <button (click)="onSave()" class="btn btn-primary">
      {{ isCreateMode() ? "Create" : "Update" }}
    </button>
  </div>
</div>
<div class="mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" style="width: 5%">ID</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let developer of developers">
        <td>{{ developer.id }}</td>
        <td>{{ developer.name }}</td>
        <td style="width: 7%">
          <button
            (click)="onEnterUpdateMode(developer)"
            class="btn btn-sm btn-info"
          >
            <fa-icon [icon]="faEdit" class="icon-mr"></fa-icon>Edit
          </button>
        </td>
        <td style="width: 7%">
          <button
            (click)="onDelete(developer.id)"
            class="btn btn-sm btn-danger"
          >
            <fa-icon [icon]="faTrash" class="icon-mr"></fa-icon>Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center no-dev-msg">No developers found</div>
</div>
