<div class="l-navbar show" id="nav-bar">
  <nav class="nav">
    <div>
      <a href="/" class="nav_logo">
        <i class="bx bx-layer nav_logo-icon"></i>
        <span class="nav_logo-name">Task Tracker</span>
      </a>
      <div class="nav_list">
        <a href="/" class="nav_link active">
          <i class="bx bx-grid-alt nav_icon"></i>
          <span class="nav_name">Dashboard</span>
        </a>
        <a href="/developer" class="nav_link">
          <i class="bx bx-user nav_icon"></i>
          <span class="nav_name">Developers</span>
        </a>
        <a href="/story" class="nav_link">
          <i class="bx bx-bookmark nav_icon"></i>
          <span class="nav_name">Stories</span>
        </a>
        <a href="/bug" class="nav_link">
          <i class="bx bx-folder nav_icon"></i>
          <span class="nav_name">Bugs</span>
        </a>
      </div>
    </div>
  </nav>
</div>
<div class="height-100 pt-3">
  <router-outlet></router-outlet>
</div>
